{% load static %}
<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Responsive HTML5 Page Layout Template</title>
    <meta name="description" content="Simple HTML5 Page layout template with header, footer, sidebar etc.">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}"></script>
</head>

<body>
	<header>
		<div id="logo"></div>
		<nav>
			<ul>
				<li><a href="{% url 'add_tweet' %}">dodaj Tweeta</a>
				<li><a href="{% url 'add_message' %}">wyślij wiadomosc</a>
				<li><a href="{% url 'message_list' %}">wiadomosci</a>
{#				<li><a href="https://htmlcheatsheet.com/js/">JS</a>#}
			</ul>
		</nav>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">logout</a>
            {% else %}
                <a href="{% url 'login' %}">login</a>
                <a href="{% url 'signup' %}">register</a>
            {% endif %}
        </div>
	</header>
	<section>
		<strong>Demonstration of a simple page layout using HTML5 tags: header, nav, section, main, article, aside, footer, address.</strong>
	</section>
	<section id="pageContent">
		<main role="main">
            {% block content %}
                {% for tweet in tweets %}
			<article>
				<h2>{{ tweet.creator.username }}</h2>
				<p>{{ tweet.content }}</p>
                <h5>{{ tweet.date }}
                    {% if tweet.creator == user %}
                        <button onclick="location.href='{% url 'update_tweet' tweet.id %}';">M</button>
                    {% endif %}
                </h5>
			</article>
                {% endfor %}

            {% endblock %}
		</main>
		<aside>
			<div>Sidebar 1</div>
			<div>Sidebar 2</div>
			<div>Sidebar 3</div>
		</aside>
	</section>
	<footer>
		<p>&copy; You can copy, edit and publish this template but please leave a link to our website | <a href="https://html5-templates.com/" target="_blank" rel="nofollow">HTML5 Templates</a></p>
		<address>
			{{user.username}}
		</address>
	</footer>


</body>

</html>